<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800836248109-b8k30khjac52uqhpuuaer1cdpudd0vnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800836248109-b8k30khjac52uqhpuuaer1cdpudd0vnf</string>
	<key>API_KEY</key>
	<string>AIzaSyBFuuZHqZUw1vZMtjSIYafKiZ_TQTxsHfw</string>
	<key>GCM_SENDER_ID</key>
	<string>800836248109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antique.ouat</string>
	<key>PROJECT_ID</key>
	<string>ouat-dcdca</string>
	<key>STORAGE_BUCKET</key>
	<string>ouat-dcdca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800836248109:ios:8362853e1bb195647a0ea4</string>
	<key>DATABASE_URL</key>
	<string>https://ouat-dcdca.firebaseio.com</string>
</dict>
</plist>